{
    "presets": [ 
         "@babel/preset-react",
         "@babel/preset-typescript",
    ],
    "plugins": [
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-transform-typescript",
    "react-hot-loader/babel",
     ["import", { "libraryName": "antd", "style": true }]
    ],
    
}